################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task5/RoleEmployee/.vs/RoleEmployee/FileContentIndex
bin/
obj/
