.welcomeUser{
    margin : 2rem 4rem;
    width : 75vw;
    height : 10rem;
    box-shadow: 2px 2px 8px 0px #0000001A;
    border-radius: 5px;
    display : flex;
    gap : 0.5rem;
    flex-direction: column;
    justify-content: center;
    padding-left : 2rem;
    img{
        position:absolute;
        z-index: 2;
        width : 10rem;
        height : 15rem;
        top : 6.5rem;
        right : 4rem;
    }
}
.today_tasks{
    display : flex;
    flex-direction: column;
    margin : 6rem 4rem 0 4rem;
    z-index: 1000;
    section{
        display:grid;
        grid-template-columns: 2.7fr 0.8fr 1fr;
        > :nth-child(2) {
            color : #BA5112;
        }
        > :nth-child(3){
            color :  #251814;

        }
    }
}
.show_tasks{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap : 5rem;
    margin-top: 1rem;
}
.tasks{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    overflow-y: scroll;
    height : 22rem;
    &::-webkit-scrollbar{
        display : none;
    }
    div{
        box-shadow: 2px 2px 6px 0px #0000001A;
        border-radius: 5px;
        display : flex;
        align-items: center;
        gap : 1rem;
        padding: 1rem;
        &.primary-style{
            background-color: transparent;
        }
        &.secondary-style{
            background-color: #EDB046;
        }
        input[type="checkbox"] {
            appearance: none;
            margin: 0;
            font: inherit;
            width: 1.15em;
            height: 1.15em;   
            border-radius: 0.15em;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
            &.primary-style{
                background-color: #FFFFFF;
                border: 0.15em solid #eb9763;
            }
            &.secondary-style{
                background-color: #BA5112;
                border: 0.15em solid #BA5112;
            }
        }
        input[type="checkbox"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0, 43% 62%);
            transition: background-color 0.2s;
            background-color: #eb9763;
        }  
    }
}
.tasksStatusPercentage{
    display : flex;
    flex-direction: column;
    gap : 1rem;
}