.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(105, 97, 97, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    div{
        background: #ffff;
        padding: 1rem;
        border-radius: 5px;
        form{
            display: flex;
            flex-direction: column;
            gap : 0.1rem;
        }
    }
}
form{
    input,textarea{
        border-radius: 5px;
        box-shadow: 2px 2px 8px 0px #0000001A;
        margin-top : 2rem;
        padding : 1rem;
        border : none;
        outline: none;
        display: flex;
        align-items: center;
        resize: none;
        font-size: 1rem;
    }
    input{
        width : 30rem;
    }
}
.feild_required{
    color : red;
    font-size: 0.8rem;
}
.cancel_save_btns{
    display: flex;
    justify-content: flex-end;
    gap : 0.5rem;
    button{
        padding : 0.5rem 1rem;
        width : 5rem;
        border-radius: 8px;
        outline:none;
        cursor : pointer;
        &:active{
            transform: scale(0.95);
        }
    }
    >:nth-child(1){
        border: 2px solid #EDB046;
        background: #fff;
    }
    >:nth-child(2){
        border : none;
        background: #EDB046;
    }
}