<div class = "signIn_page">
    <img src = "assets/signIn_background.jpg">
    <div  [ngClass]="{'main_content' : true,'primary-style': isSignIn(), 'secondary-style': isSignUp()}">
        <div class = "main_heading">
            <span [ngClass]="{'title' : true,'primary-style': isSignIn(), 'secondary-style': isSignUp()}">To-Do-App</span>
            <span [ngClass]="{'heading_content' : true, 'primary-style': isSignIn(), 'secondary-style': isSignUp()}">Start organizing your life day by day</span>
        </div>
        <form [formGroup] = "signInForm" (ngSubmit)="isSignIn() ? onSignIn() : onSignUp()">
            <input type="text" formControlName="UserName" [placeholder]="isSignIn() ? 'Enter Your Username' : 'Username'">
            <div class = "feild_required" *ngIf="signInForm.get('UserName')?.invalid && signInForm.get('UserName')?.touched">
                User Name is required
            </div>
            <input type="password" formControlName="Password" [placeholder]="isSignIn() ? 'Enter Your password' : 'Password'">
            <div class = "feild_required" *ngIf="signInForm.get('Password')?.invalid && signInForm.get('Password')?.touched">
                Password is required
            </div>
            <div class = "signIn" >
                <button  type="submit" [disabled]="signInForm.invalid" [ngClass] = "{'primary-style' : isSignIn(), 'secondary-style': isSignUp()}">{{ isSignIn() ? 'Sign In' : 'Sign Up' }}</button>
                <span *ngIf="isSignIn()">Don’t have an account? Create <a routerLink="/signUp">here.</a></span>
                <span *ngIf="isSignUp()">Already have an account? Sign In <a routerLink="/signIn">here.</a></span>
            </div>
        </form>
        
    </div>
</div>
