<div class="welcomeUser">
    <h1>Hello, Beautiful Human!</h1>
    <span>What do you want to do today?</span>
    <img src = "assets/woman.svg">
</div>
<div class = "tasksStatusPercentageAbove">
    <app-task-status-percentage [percentageType] = "completed_text" [percentage]="completedPercentage"></app-task-status-percentage>
    <app-task-status-percentage [percentageType] = "active_text" [percentage]="activePercentage"></app-task-status-percentage>
</div>
<div class = "today_tasks">
    <app-dashboard-filter (filterApplied)="onFilterApplied($event)"></app-dashboard-filter>
    <section>
        <h3>Tasks</h3>
        <span (click) = "deleteAllTasks()">Delete All</span>
    </section>
    <div class ="show_tasks">
        <div class = "tasks">
            <h2 *ngIf = "noTasksFound()">No Tasks Found</h2>
            <div *ngFor = "let task of tasks();let i = index" [ngClass]="{'primary-style': !task.isCompleted, 'secondary-style': task.isCompleted}">
                <input type = "checkbox" [ngClass]="{'primary-style': !task.isCompleted, 'secondary-style': task.isCompleted}">
                <span>{{task.title | titlecase}}</span>
            </div>
        </div>
        <div class = "tasksStatusPercentageBelow">
            @if(tasks().length > 0){
                <app-task-status-percentage [percentageType] = "completed_text" [percentage]="completedPercentage"></app-task-status-percentage>
                <app-task-status-percentage [percentageType] = "active_text" [percentage]="activePercentage"></app-task-status-percentage>
            }
            @else {
                <app-task-status-percentage [percentageType] = "completed_text"></app-task-status-percentage>
                <app-task-status-percentage [percentageType] = "active_text"></app-task-status-percentage>
            }
        </div>
    </div>
</div>
