<div class = "task_details">
    <div class = "task_heading">
        <h3>{{task.title}}</h3>
        <span [ngClass]="{'primary-style': !task.isCompleted, 'secondary-style': task.isCompleted}">Added {{ getHoursAgo(task.createdOn) }} hours ago</span>
    </div>
    <div class = "task_description">
        <h4>Description</h4>
        <span>{{task.description}}</span>
    </div>
</div>
<div class = "operations">
    <input type = "checkbox" [ngClass]="{'primary-style': !task.isCompleted, 'secondary-style': task.isCompleted}" [disabled]="task.isCompleted" (change)="completeTask()">
    <img class = "edit_btn" src = "assets/edit_icon.svg" [ngClass]="{'primary-style': !task.isCompleted, 'secondary-style': task.isCompleted}" (click) = "openModel()">
    <img class = "delete_btn" src = "assets/delete_icon.svg" [ngClass]="{'primary-style': !task.isCompleted, 'secondary-style': task.isCompleted}" (click) = "onDeleteTask()">
</div>
