.task_details{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.task_heading{
    display: flex;
    flex-direction: column;
    h3{
        margin : 0;
        font-size: 1.5rem;
    }
    span{
        font-size: 0.8rem;
        .primary-style{
            color: #B5B5B5;
        }
        .secondary-style{
            color: #BA5112;
        }
    }
}
.task_description{
    display: flex;
    flex-direction: column;
    h4{
        margin : 0;
        font-size: 1.5rem;
    }
}
.operations{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    margin-top : 2.5rem;
    img{
        width : 1.5rem;
        height : 1.5rem;
        cursor: pointer;
        &:active{
            transform: scale(0.95);
        }
    }
    input[type="checkbox"] {
        appearance: none;
        margin: 0;
        font: inherit;
        width: 1.15em;
        height: 1.15em;   
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
        &.primary-style{
            background-color: #FFFFFF;
            border: 0.15em solid #eb9763;
        }
        &.secondary-style{
            background-color: #BA5112;
            border: 0.15em solid #BA5112;
        }
    }
    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0, 43% 62%);
        transition: background-color 0.2s;
        background-color: #eb9763;
    }  
    input[type="checkbox"]:checked {
        &.primary-style{
            background-color: #BA5112;
        }
        &.secondary-style{
            background-color: #FFFFFF;
        }
    }
}
.delete_btn {
    &.secondary-style{
        margin-left : 5rem;
        filter: brightness(2) invert(1) hue-rotate(100deg);
    }
}
.edit_btn {
    &.secondary-style{
        display: none;
    }
}
@media screen and (max-width: 430px){
    .task_details{
        gap : 1rem;
    }
    .operations{
        margin-top: 1rem;
    }
}