<div  [class.blur]="isModalOpen()" class = "main_body">
    <div class = "side_nav">
        <h2>To-Do App</h2>
        <button (click) = "openModel()">
            <span>Add Task</span>
            <img src = "assets/add_icon.svg">
        </button>
        <div class = "options">
            <a routerLink="/dashboard" routerLinkActive="activeSession"><div>Dashboard</div></a>
            <a routerLink="/active" routerLinkActive="activeSession"><div>Active</div></a>
            <a routerLink = '/completed' routerLinkActive="activeSession"><div>Completed</div></a>
        </div>
    </div>
    <div>
        <div class = "heading">
            <span>{{heading()}}</span>
            <button class="addTask" (click)="openModel()">
                <span>Add Task</span>
                <img src="assets/add_icon.svg">
            </button>
            <button (click) = "signOut()" class = "signOut">
                <span>Sign out</span>
                <img src = "assets/mdi_logout.svg">
            </button>
        </div>
        <div class="hamburger-menu">
            <div class="menu-header" (click)="toggleMenu()">
                <span>{{ selectedItem }}</span>
                <span class="dropdown-icon">&gt;</span>
            </div>
            <div class="hamburger-content" [class.show]="menuOpen">
                <a *ngIf="selectedItem !== 'Dashboard'" routerLink="/dashboard" routerLinkActive="activeSession" (click)="selectItem('Dashboard')">Dashboard</a>
                <a *ngIf="selectedItem !== 'Active'" routerLink="/active" routerLinkActive="activeSession" (click)="selectItem('Active')">Active</a>
                <a *ngIf="selectedItem !== 'Completed'" routerLink="/completed" routerLinkActive="activeSession" (click)="selectItem('Completed')">Completed</a>
            </div>
        </div>       
        <router-outlet></router-outlet>
    </div>
</div>
<app-modal *ngIf = "isModalOpen()"></app-modal>
